<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-venta-heading" data-cy="VentaCreateUpdateHeading">Create or edit a Venta</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_fecha">Fecha</label>
          <div class="d-flex">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="datetime-local"
              class="form-control"
              name="fecha"
              formControlName="fecha"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tipoPago">Tipo Pago</label>
          <select class="form-control" name="tipoPago" formControlName="tipoPago" id="field_tipoPago" data-cy="tipoPago">
            <option [ngValue]="null"></option>
            <option *ngFor="let tipoPago of tipoPagoValues" [value]="tipoPago">tipoPago</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
