<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-coche-heading" data-cy="CocheCreateUpdateHeading">Create or edit a Coche</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_matricula">Matricula</label>
          <input type="text" class="form-control" name="matricula" id="field_matricula" data-cy="matricula" formControlName="matricula" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_color">Color</label>
          <input type="text" class="form-control" name="color" id="field_color" data-cy="color" formControlName="color" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_precio">Precio</label>
          <input type="number" class="form-control" name="precio" id="field_precio" data-cy="precio" formControlName="precio" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_vendido">Vendido</label>
          <input type="checkbox" class="form-check" name="vendido" id="field_vendido" data-cy="vendido" formControlName="vendido" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_venta">Venta</label>
          <select class="form-control" id="field_venta" data-cy="venta" name="venta" formControlName="venta">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="ventaOption.id === editForm.get('venta')!.value?.id ? editForm.get('venta')!.value : ventaOption"
              *ngFor="let ventaOption of ventasSharedCollection; trackBy: trackVentaById"
            >
              {{ ventaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
