<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vendedor-heading" data-cy="VendedorCreateUpdateHeading">Create or edit a Vendedor</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_apellidos">Apellidos</label>
          <input type="text" class="form-control" name="apellidos" id="field_apellidos" data-cy="apellidos" formControlName="apellidos" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_codigoEmpleado">Codigo Empleado</label>
          <input
            type="text"
            class="form-control"
            name="codigoEmpleado"
            id="field_codigoEmpleado"
            data-cy="codigoEmpleado"
            formControlName="codigoEmpleado"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dni">Dni</label>
          <input type="text" class="form-control" name="dni" id="field_dni" data-cy="dni" formControlName="dni" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_venta">Venta</label>
          <select class="form-control" id="field_venta" data-cy="venta" name="venta" formControlName="venta">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="ventaOption.id === editForm.get('venta')!.value?.id ? editForm.get('venta')!.value : ventaOption"
              *ngFor="let ventaOption of ventasSharedCollection; trackBy: trackVentaById"
            >
              {{ ventaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
